/* Fonts */

h1 {
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
}

p, li {
    font-family: 'Manrope', sans-serif;
}

/* End Fonts */

body {
    margin: 0;
}

main {
    margin: 1rem;
}

.nav-content,
.main-content,
.footer-content {
    max-width: 940px;
    display: block;
    margin: auto;
}

nav {
    height: 4rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 3px 3px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.nav-content > img {
    height: 4rem;
    width: auto;
}

.socials {
    margin-right: 1rem;
}

.socials > i {
    margin: 0 0.25rem;
}

.timeline-container {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
}

.timeline-container > p {
    font-family: "Space Mono", monospace;
    margin: 0 1rem;
}

.mini-timeline > svg {
    width: fit-content;
}

.intro-photo {
    max-width: 100%;
    margin: 2rem 0;
}

#intro-arrow {
    display: block;
    margin: auto;
    width: 2rem;
    height: 2rem;
    padding: 1rem;
    border-radius: 3rem;
    border: solid #9fe5d0;
}

.intro-text {
    margin-bottom: 1rem;
}

.intro-text > h1 {
    margin-top: 0;
}

@media (min-width: 768px) {
    .intro {
        display: flex;
        flex-direction: row-reverse;
    }

    .intro > img {
        width: 50%;
    }
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.footer-content > .contact {
    border-left: solid darkgrey 2px;
}

.contact > ul {
    list-style: none;
}